<header>
	<nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
		<span class="navbar-brand" class="font-weight-bold text-danger badge badge-light mr-3">
			<h4>{{appName}}</h4>
		</span>
		<ul class="navbar-nav">
			<li *ngIf="authService.isLoggedIn" class="nav-item">
				<a class="nav-link" routerLink="/n2f/input" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Input</a>
			</li>
			<li *ngIf="authService.isLoggedIn" class="nav-item">
				<a class="nav-link" routerLink="/n2f/view" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">View</a>
			</li>
			<li *ngIf="authService.isLoggedIn" class="nav-item">
				<a class="nav-link" routerLink="/n2f/chart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Chart</a>
			</li>
			<li *ngIf="authService.isLoggedIn && authService.isUserAdmin()" class="nav-item">
				<a class="nav-link" routerLink="/n2f/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Admin</a>
			</li>
		</ul>
		<span *ngIf="authService.isLoggedIn" (click)="authService.onLogout()" class="ml-auto pl-3">
			<button class="btn btn-danger btn-sign-out" title="Goodbye : {{authService.userData.email}}">
				<i class="fas fa-sign-out-alt"></i>
			</button>
		</span>
	</nav>
</header>