<app-message></app-message>
<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <div>
      <div class="card my-2">
        <div class="card-body">
          <div>
            <label for="date" class="mr-2">Month: </label>
            <input id="date" class="datepicker" [matDatepicker]="dp" [formControl]="date" (dateChange)="onChangeDate($event)"
              placeholder="mm/yyyy" maxlength="7" tabindex="1" autocomplete="off" required
              [ngClass]="{ 'is-invalid': (date.dirty || date.touched) && date.hasError('required') }">
            <mat-datepicker-toggle [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp panelClass="panel-month-picker" startView="multi-year" (yearSelected)="chosenYearHandler($event)"
              (monthSelected)="chosenMonthHandler($event, dp)">
            </mat-datepicker>
            <div class="invalid-feedback" *ngIf="(date.dirty || date.touched) && date.hasError('required')">Month required.</div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-sm" (click)="onExport()">Export</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="asc">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let data">{{data.date.toDate() | date:'dd/MM/yyyy'}}</td>
          <td mat-footer-cell *matFooterCellDef class="font-weight-bold">Total</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let data">{{data.amount}} €</td>
          <td mat-footer-cell *matFooterCellDef class="font-weight-bold text-danger"> {{total}} €</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let data">
            <span class="d-none">{{data.id}}</span>
            <button type="button" class="btn btn-sm btn-danger m-1" (click)="delete(data)">Delete</button>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            <button type="button" class="btn btn-sm btn-secondary m-1" (click)="deleteAll()">Delete All</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns" [class.d-none]="!displayTotal"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>