<div class="container wlogin">   
    <app-login-network></app-login-network>
    <div class="card my-2">
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" 
                        tabindex="1" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && controls.email.errors }" />
                    <div *ngIf="submitted && controls.email.errors" class="invalid-feedback">
                        <div *ngIf="controls.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" 
                        tabindex="2" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && controls.password.errors }" />                    
                    <div *ngIf="submitted  && controls.password.errors" class="invalid-feedback">
                        <div *ngIf="controls.password.errors.required">Password is required</div>
                        <div *ngIf="controls.email.errors.pattern">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group justify-content-center">
                    <button [disabled]="loading" class="btn btn-block btn-sm btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>                      
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center fs-12">
        Don’t have an account? 
        <a href="/auth/sign-up" class="ml-1">Sign up</a>          
    </div>
</div>