<div class="container">
    <div class="d-flex flex-column justify-content-center">
        <div class="card my-2">
            <div class="card-body">
                <button class="btn btn-block btn-secondary" (click)="authService.login_with_google()">
                    <i class="fab fa-google mr-2"></i>
                    Login with Google</button>
                <button class="btn btn-block btn-secondary" (click)="authService.login_with_facebook()">
                    <i class="fab fa-facebook-f mr-2"></i>
                    Login with Facebook</button>
                <button class="btn btn-block btn-secondary" disabled>
                    <i class="fab fa-twitter mr-2"></i>
                    Login with Twitter</button>
                <button class="btn btn-block btn-secondary" disabled>
                    <i class="fab fa-microsoft mr-2"></i>
                    Login with Microsoft</button>
                <!--
                <button class="btn btn-block btn-secondary" disabled>
                    <i class="fab fa-github mr-2"></i>
                    Login with Github</button>
                -->
            </div>
        </div>
    </div>
</div>